.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  .item_page {
    position: relative;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

.logo-adv {
  background-image: url(./img/lsj_img/back.png);
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .girl {
    width: 400px;
    position: absolute;
    top: -200px;
    right: -200px;
    animation: move ease-in-out 0.8s forwards;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: icon linear infinite 30s;
    .item {
      position: absolute;
      height: 50px;
      width: 50px;
      img {
        width: 100%;
        height: 100%;
        animation: icon linear infinite 30s reverse;
        transition: 0.6s;
        &:hover {
          scale: 2;
        }
      }
    }
    .center-logo {
      width: 350px;
      height: 350px;
      animation: icon linear infinite 30s reverse;
      img {
        height: 100%;
        width: 100%;
        transition: 0.4s;
        &:hover {
          scale: 1.3;
        }
      }
    }
  }
}
@keyframes icon {
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  to {
    transform: translate(-200px, 200px);
  }
}
.homepage {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  .header-bar {
    width: 100%;
    height: 130px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: relative;
    .header-logo {
      width: 250px;
      height: 50%;
      padding: 0 80px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .link-groups {
      height: 80%;
      display: flex;
      position: absolute;
      right: 10vw;
    }

    a {
      font-size: 24px;
      text-decoration: none;
      color: #333;
      display: block;
      padding: 40px 50px;

      &:hover {
        color: #ee5a24;
      }
      &.active {
        color: #f79f1f;
      }
    }
  }
  .page-container {
    scroll-behavior: smooth;
    height: calc(100vh - 150px);
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    .page-item {
      flex-shrink: 0;
      width: 100vw;
      height: 100%;
      scroll-snap-align: start;
      scroll-snap-stop: always;
    }
  }

  //介绍页
  #Introduction {
    position: relative;
    overflow: hidden;
    font-size: 20px;
    img {
      position: absolute;
      width: 400px;
      &:first-of-type {
        right: -180px;
        bottom: -100px;
      }
      &:last-of-type {
        right: -50px;
        bottom: -200px;
      }
    }

    .introduction {
      width: 80%;
      height: fit-content;
      margin: 0vh auto;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: #fff;
      .intro-title {
        width: fit-content;
        flex-grow: 1;
        font-size: 35px;
        font-weight: bolder;
        padding: 10px 0;
        display: flex;
        position: relative;
        &::before,
        &::after {
          content: '';
          background-color: #fff;
          position: absolute;
          inset: 0;
          height: 100%;
          width: 100%;
          animation: typewriter 5s steps(13) infinite forwards;
        }

        &::after {
          width: 5px;
          background-color: #000000;
          animation: typewriter 5s steps(13) infinite forwards,
            flashing 0.3s ease-out;
        }
      }
      @keyframes typewriter {
        to {
          left: 100%;
        }
      }
      @keyframes flashing {
        to {
          opacity: 0;
        }
      }
    }
    .intro-content {
      padding: 10px 50px;
      background-color: rgb(255, 244, 161);
      flex-grow: 2;
      border-radius: 30px;
      p {
        padding: 15px 0;
        line-height: 1.3;
        letter-spacing: 0.1em;
      }
    }
  }
}

//创意园
#Creativity {
  display: flex;
  flex-direction: column;
  .cre-title {
    width: 20%;
    padding: 10px 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 10%;
    img {
      display: block;
      height: 40px;
      margin-right: 1vw;
    }
  }

  .pro-list {
    width: 80%;
    margin: 0 auto;
    height: 80%;
    padding: 20px 20px;
    font-size: 12px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
  }
}

#HomePage {
}
